<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.an301.MobileApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".Home.HomeActivity.AboutActivity"
            android:label="About the Club" />
        <activity
            android:name=".Home.HomeActivity.TrainingActivity"
            android:label="Training Sessions" />
        <activity
            android:name=".Home.HomeActivity.CompetitionsActivity"
            android:label="Competitions" />
        <activity
            android:name=".Home.HomeActivity.MembershipActivity"
            android:label="Membership" />
        <activity
            android:name=".Home.HomeActivity.SocialsActivity"
            android:label="Socials" />
        <activity
            android:name=".Home.HomeActivity.WhatIsActivity"
            android:label="What is Baseball/Softball?" />

    </application>

</manifest>